<dict-config-buttons class="buttons {props.center ? 'justifyCenter' : ''}">
   <a href="javascript:window.history.back()"
         class="btn btn-secondary {!props.showSave ? '' : 'btn-flat'}">
      Back
   </a>
   <primary-button if={props.showSave ?? true}
         on-click={props.saveData}
         disabled={props.disabled}
         label={props.label}/>

   <style>
      :host{
         margin-top: 20px;
      }
   </style>
</dict-config-buttons>
