<dict-download>
   <h1>Download</h1>
   <div class="input-field">
      <a class="waves-effect waves-light btn btn-primary download-link"
            target="_blank"
            href="{window.API_URL}{ dictData.dictId }/download.xml">
         <i class="material-icons left">file_download</i>
         Download { dictData.dictId }.xml
      </a>
   </div>
</dict-download>
