<e404>
   <div class="container">
      <h1>
         Page not found
      </h1>
      Go <a href="javascript:window.history.back()">back</a> or to the <a href="#/{authData.authorized ? "" : "opendictionaries"}">dictionary list</a>.
   </div>
</e404>
