<unauthorized>
   <div class="container">
      <h1>You don't have access to this page</h1>
      <br><br>
      <a class="btn" href="#/">Go to the home page</a>
   </div>

   <style>
      .container{
         text-align: center;
         margin-top: 20vh;
      }
   </style>
</unauthorized>
