@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html{
   --dark-green: #0F6258;
   --medium-green: #629891;
   --light-green: #cededd;
   --thin-green: #9ac2bd;
   --white-green: #edf3f2;
   --dark-red: #9A1822;
}
html{
    /*background-color: #9ad6d0 !important*/
    /*background-color: #c1dcda !important;*/
    background-color: var(--light-green);

}
html body{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.tab,
.btn,
.entry-list,
.dropdown-content,
.dropdown-content li,
input[type="checkbox"]+span:not(.lever),
input[type="radio"]:not(:checked)+span,
input[type="radio"]:checked+span,
label,
.entriesCountInfo,
.totalEntries
{
    font-family: 'Roboto Condensed', sans-serif;
}

/* general */
.divider{
   background-color: var(--thin-green);
}
.btn:not(.btn-flat){
   background-color: var(--dark-green);
   color: #fff;
}
.btn.btn-primary{
   background-color: var(--dark-red);
}
.grey-text{
   color: var(--dark-green)!important;
}

/* form elements*/

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea,
.select-wrapper input.select-dropdown{
   background-color: #fff;
}
.input-field>label{
   color: var(--dark-green);
}

/* app header */
.brand-logo{
  margin-left: 30px;
  margin-top: 3px;
  width: 105px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('customization/dante/dante_logo_white.svg');
}
.brand-logo img{
   display: none!important;
}
app-header nav{
   border-bottom: none;
}
.nav-wrapper {
   background-color: var(--dark-green);
}
.nav-wrapper > ul >li > a{
   color: #fff!important;
}
.nav-wrapper > ul a .accountCircle{
 color: #000!important;
 background-color: #fff!important;
}
app-header{
   margin-bottom: 15px!important;
}
dict-nav{
   display: none!important
}

/* footer */
app-footer .footer-logos{
      background-color: var(--medium-green);
}
app-footer .footer-copyright{
   background-color: var(--dark-green);
   color: #fff;
}

/* dictionary homepage */
[is="dict-public"] .header{
  /* border-color: var(--thin-green);*/
  border: none;
}

[is="dict-public"] .totalEntries{
   color: grey;
}
[is="dict-public"] .dictContainer .panel:first-child{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
[is="dict-public"] .dictContainer .panel:last-child > .block{
    background-color: white;
    padding: 15px;
}
[is="dict-public"] .dictContainer .panel:last-child advanced-query-builder h2{
    color: var(--dark-green);
}
[is="dict-public"] .sectionDivider{
   border-color: var(--thin-green);
}
dict-entry-filter.showQueryBuilder .toggleQueryBuilderBtn{
   background-color: var(--dark-red);
}
[is="dict-public"] > div:last-child .divider{
   display: none;
}
[is="dict-public"] > .dictContainer .sectionDivider{
   border: none;
}
[is="dict-public"] .search,
[is="dict-public"] .randomEntries{
   padding-right: 0px;
}

/* dante description */
div[is="dict-public"] .description{
   border-top: 1px solid var(--thin-green);
   border-bottom: 1px solid var(--thin-green);
}
div[is="dict-public"] .description > h2{
   display: none
}
div[is="dict-public"] .description h1{
   text-transform: none;
}
div[is="dict-public"] .description p{
   text-align: justify;
}
span.dante_homepage_logos_top{
    justify-content: space-between;
    display: flex;
    margin-bottom: 30px;
}
span.dante_homepage_logos_top img {
    max-height: 50px;
    filter: grayscale(1);
}
span.dante_homepage_logos_top a:hover img{
   filter: none;
}
span.dante_homepage_logos {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}
span.dante_homepage_logos img {
    max-height: 70px;
}

/* nvh editor*/
entry-list .entriesCountInfo{
   padding-left: 10px;
}
entry-list .entry-list-item{
   border-left: none;
}
entry-list .entry-list-item:hover{
   background-color: var(--white-green);
}
[is="dict-edit"] .totalEntries{
   color: grey;
}
[is="dict-edit"] .resizeHandle{
   background-color: var(--light-green);
   margin: 0px 0px;
}
[is="dict-edit"] .resizeHandle:hover{
   background-color: var(--medium-green);
}
#dictEditContainer{
   background-color: #fff;
}
.nvh-editor-edit-items{
   /* only first item */
   padding-left: 20px;
}
.nvh-editor-view-items {
   padding-right: 20px;
}
.nvh-editor-edit-items .nvh-editor-edit-items {
   padding-left: 0;
}
