<example-basic-item>
  <div class="example-basic-item-wrapper">
    <div style={props.getCssStyles(props.styles)}>
      {props.value}
    </div>
  </div>
  
  </div>

  <script>
    export default {

    }
  </script>

  <style>
  </style>

</example-basic-item>