html{
   font-size: 16px;
}
html body{
   font-family: 'Roboto Condensed', sans-serif;
}
.main{
   min-height: 100vh;
   display:flex;
   flex-direction:column;
}

app-footer{
  margin-top:auto;
}

.buttons{
   display: flex;
   gap: 10px;
}
.hint{
   cursor: help;
}
.hint i{
   font-size: 16px;
}
.loadingAnimation{
   display: inline-block;
   width: 1.5em;
 }
.loadingAnimation i{
   display: inline-block;
   width: 1.5em;
   overflow: hidden;
   animation: loadingFrames linear 0.7s;
   animation-iteration-count: infinite;
   -webkit-animation: loadingFrames linear 0.7s;
   -webkit-animation-iteration-count: infinite;
}

@keyframes loadingFrames{
   0% {
      max-width: 0;
   }
   50% {
      max-width: 1.5em;
   }
   100% {
      max-width: 0px;
   }
}

/* MATERIALIZE TWEAKS  */

a,
nav ul a,
.dropdown-content li>a,
.dropdown-content li>span{
   color: #000;/*#c62132;*/
}
.dropdown-content li{
   min-height: 38px;
}
body .dropdown-content li>a,
body .dropdown-content li>span{
   padding: 0.7rem 1rem;
   line-height: 1rem;
}
.dropdown-content a{
   text-decoration: none;
}
a,
nav ul a,
.breadcrumb{
   text-decoration: underline;
}
a:not(.btn):hover,
nav ul a:hover,
.breadcrumb:hover{
   color: #c62132;
}

.breadcrumb{
   color: #767676;
   text-transform: uppercase;
}
.breadcrumb:before{
   color: #767676;
}
.breadcrumb:last-child{
   color: #000;
}
h1{
   font-size: 2.2rem;
   margin: 1.1rem 0 1rem 0;
}
h2{
   font-size: 1.65rem;
   margin: 1rem  0 0.9rem 0;
}
h3{
   font-size: 1.3rem;
   margin: 0.9rem  0 0.8rem 0;
}
h4{
   font-size: 1rem;
   margin: 0.8rem  0 0.7rem 0;
}
h5{
   font-size: 0.83rem;
   margin: 0.7rem  0 0.6rem 0;
}
h6{
   font-size: 0.75rem;
   margin: 0.6rem  0 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
   line-height:110%;
   text-transform: uppercase;
}
.btn{
   font-size: 0.9rem;
   height: 2.25rem;
   line-height: 2.25rem;
   white-space: nowrap;
}
.btn-floating{
   width: 2.5rem;
   height: 2.5rem;
}
.btn-flat.btn-floating i{
   color: #000;
}
.btn-floating i{
   line-height: 2.5rem;
}
.btn:not(.btn-floating){
   border-radius: 0;
   padding: 0 1rem;
}
.btn:not(.btn-flat){
   box-shadow: none;
   background-color: #231f20;
}
.btn.btn-large{
   height: 54px;
   line-height: 54px;
   font-size: 1rem;
   padding: 0 28px;
}
.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus,
.btn:hover,
.btn-large:hover,
.btn-small:hover,
.btn-floating:hover{
   /*background-color: #4f4f50;*/
   box-shadow: none;
}
.btn.btn-primary{
   box-shadow: none;
   background-color: #c62132;
}
.btn.btn-secondary{
   color: #000;
   background-color: #eee;
}
.btn.btn-flat:hover,
.btn.btn-secondary:hover{
   background-color: #cccccc;
}

.tabs{
   display: flex;
   margin-bottom: 15px;
   border-bottom: none;
   background-color: #eee;
}
.tabs .tab a{
   color: #767676;
   cursor: pointer;
   font-size: 1em;
   text-decoration: none;
}
.tabs .tab a:hover{
   color: #c62132;
}
.tabs li.active a{
   text-decoration: none;
   background-color: #fafafa;
}

label{
   font-size: 1rem;
   color: #767676;
   text-transform: uppercase;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea{
   border: 1px solid black;
   padding-left: 0.625rem;
   padding-right: 0.625rem;
   font-size: 1rem;
   height: 2.5rem;
   box-sizing: border-box;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
   border-bottom: 1px solid black;
   -webkit-box-shadow: none;
   box-shadow: none;
   outline: 1px solid #000;
   background-color: #fff;
}

input.invalid:not([type]),
input.invalid:not([type]):focus,
input.invalid[type=text]:not(.browser-default),
input.invalid[type=text]:not(.browser-default):focus,
input.invalid[type=password]:not(.browser-default),
input.invalid[type=password]:not(.browser-default):focus,
input.invalid[type=email]:not(.browser-default),
input.invalid[type=email]:not(.browser-default):focus,
input.invalid[type=url]:not(.browser-default),
input.invalid[type=url]:not(.browser-default):focus,
input.invalid[type=time]:not(.browser-default),
input.invalid[type=time]:not(.browser-default):focus,
input.invalid[type=date]:not(.browser-default),
input.invalid[type=date]:not(.browser-default):focus,
input.invalid[type=datetime]:not(.browser-default),
input.invalid[type=datetime]:not(.browser-default):focus,
input.invalid[type=datetime-local]:not(.browser-default),
input.invalid[type=datetime-local]:not(.browser-default):focus,
input.invalid[type=tel]:not(.browser-default),
input.invalid[type=tel]:not(.browser-default):focus,
input.invalid[type=number]:not(.browser-default),
input.invalid[type=number]:not(.browser-default):focus,
input.invalid[type=search]:not(.browser-default),
input.invalid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea.invalid:focus,
.select-wrapper.invalid>input.select-dropdown,
.select-wrapper.invalid>input.select-dropdown:focus{
   border:  1px solid #F44336;
   outline: 1px solid #F44336;
   box-shadow: none;
}

input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type=text]:not(.browser-default):disabled,
input[type=text]:not(.browser-default)[readonly="readonly"],
input[type=password]:not(.browser-default):disabled,
input[type=password]:not(.browser-default)[readonly="readonly"],
input[type=email]:not(.browser-default):disabled,
input[type=email]:not(.browser-default)[readonly="readonly"],
input[type=url]:not(.browser-default):disabled,
input[type=url]:not(.browser-default)[readonly="readonly"],
input[type=time]:not(.browser-default):disabled,
input[type=time]:not(.browser-default)[readonly="readonly"],
input[type=date]:not(.browser-default):disabled,
input[type=date]:not(.browser-default)[readonly="readonly"],
input[type=datetime]:not(.browser-default):disabled,
input[type=datetime]:not(.browser-default)[readonly="readonly"],
input[type=datetime-local]:not(.browser-default):disabled,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
input[type=tel]:not(.browser-default):disabled,
input[type=tel]:not(.browser-default)[readonly="readonly"],
input[type=number]:not(.browser-default):disabled,
input[type=number]:not(.browser-default)[readonly="readonly"],
input[type=search]:not(.browser-default):disabled,
input[type=search]:not(.browser-default)[readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"]{
   border: 1px dotted rgba(0,0,0,0.42);
}

input.valid:not([type]),
input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default),
input.valid[type=email]:not(.browser-default):focus,
input.valid[type=url]:not(.browser-default),
input.valid[type=url]:not(.browser-default):focus,
input.valid[type=time]:not(.browser-default),
input.valid[type=time]:not(.browser-default):focus,
input.valid[type=date]:not(.browser-default),
input.valid[type=date]:not(.browser-default):focus,
input.valid[type=datetime]:not(.browser-default),
input.valid[type=datetime]:not(.browser-default):focus,
input.valid[type=datetime-local]:not(.browser-default),
input.valid[type=datetime-local]:not(.browser-default):focus,
input.valid[type=tel]:not(.browser-default),
input.valid[type=tel]:not(.browser-default):focus,
input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.valid[type=search]:not(.browser-default),
input.valid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid>input.select-dropdown{
   border: 1px solid #4CAF50;
   outline: 1px solid #4CAF50;
   -webkit-box-shadow: none;
   box-shadow: none;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label{
   color: #000;
}

[type="checkbox"]:not([disabled]):checked+span:not(.lever):before{
   border-right: 2px solid #000;
   border-bottom: 2px solid #000;
}
[type="checkbox"]:checked:disabled+span:before{
   border-right: 2px solid rgba(0, 0, 0, 0.25);
   border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}
[type="checkbox"][disabled] + span{
   cursor: default;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after{
   border: 2px solid #000;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after{
   background-color: #000;
}
[type="radio"][disabled] + span{
   cursor: default;
}

.checkbox{
   position: relative;
}
.select-wrapper input.select-dropdown:focus{
   border-bottom-color: #000;
   outline: 1px solid #000;
}
.select-wrapper .caret{
   top: -0.375rem;
   z-index: 1;
   pointer-events: none;
}

.input-field{
   margin-top: 1.5rem;
}

.input-field .helper-text{
   top: -5px;
   font-size: 0.7rem;
}

.inputWithRightIcon input,
.inputWithRightIcon textarea{
   padding-right: 1.7rem;
}
.inputWithRightIcon .rightIcon{
   position: absolute;
   right: 0.3rem;
   top: 0.375rem;
}

.input-field>label:not(.label-icon){
   -webkit-transform: translateY(-1.1rem) scale(1)!important;
   transform: translateY(-1.1rem) scale(0.9)!important;
   -webkit-transform-origin: 0 0;
   transform-origin: 0 0;
}
.select-wrapper+label{
   font-size: 1rem;
}
.select-wrapper input[type=text]:not(.browser-default){
   padding-right: 1.5rem;
}
.input-field .select-wrapper+label{
   transform: none;
   top: 0;
}

.inputFieldWithProgressBar{
   position: relative;
   .progress{
      position: absolute;
      bottom: 7px;
      height: 2px;
      margin: 0;
   }
}

.file-field{
   gap: 0;
}
.file-field .file-path-wrapper{
   padding-left: 0;
}
.file-field > .btn{
   width: 7.2rem;
   height: 2.5rem;
   line-height: 2.5rem
}
.file-field .helper-text{
   left: -1rem;
   text-transform: none
}

.rowForm .row{
   align-items: baseline;
   display: flex;
   margin: 0;
}
.rowForm .col:first-child{
   text-align: right;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i{
   height: 80px;
   line-height: 80px;
}

nav .brand-logo{
   font-size: initial;
}
.sidenav-trigger{
   text-decoration: none;
}

.secondary-content{
   color: #231f20;
}

.collection{
   border: none;
}

.collection a.collection-item{
    color: #000;
}

thead tr{
   border-bottom: 2px solid #000;
}

.dropdown-content li>a,
.dropdown-content li>span{
   font-size: 1rem;
   padding: 0.9rem 1rem;
   line-height: 1.3rem;
   white-space: nowrap;
}

.collection .collection-item{
   line-height: 1.5rem;
   padding: 0.5rem 1.1rem;
}

.chip{
   height: 2rem;
   font-size: 0.8rem;
   font-weight: 500;
   color: rgba(0,0,0,0.6);
   line-height: 2rem;
   padding: 0 0.7rem;
   border-radius: 1rem;
   background-color: #e4e4e4;
   margin-bottom: 0.3rem;
   margin-right: 0.3rem;
}
.chip .close{
   font-size: 1rem;
   line-height: 2rem;
   padding-left: 0.5rem;
}
span.badge{
   padding: 0 0.4rem;
   line-height: 1.3rem;
   height: 1.3rem;
}

ul{
   padding-inline-start: 20px;
}
li {
   list-style: square;
}
table.striped thead tr{
   border-bottom: 2px solid #000;
}

.autocomplete-content li{
   box-sizing: border-box;
   display: flex;
   gap: 20px;
   padding: 10px 16px;;
}
.autocomplete-content li > span{
   padding: 0!important;
   display: flex;
   align-items: center;
   white-space: pre;
}
.autocomplete-content .info{
   color: #9e9e9e !important;
   white-space: nowrap;
   margin-left: auto;
}
.autocomplete-content .highlight{
   color: #F44336 !important;
}

.material-tooltip{
   max-width: 500px;
   text-align: left;
}

.spin{
   animation: container-rotate 800ms linear infinite;
}

.message{
   padding: 15px;
   text-align: center;
}
.progress{
   background-color: #d3d3d3;
}
.progress .determinate,
.progress .indeterminate{
   background-color: #4a4a4a;
}

.message.messageInfo{
   background-color: #e1f5fe;
}

.message.messageSuccess{
   background-color: #C8E6C9;
}

.message.messageError{
   background-color: #FFCDD2;
}

.overflowVisible .modal{
   overflow: visible;
}

.pageTitle{
   margin: 5px 0 10px 0;
}

/* flag in entry list  */
.flagDropdown li{
   display: flex;
   min-width: 170px;
   padding: 0.7rem 1rem;
}
.flagDropdown li i{
   margin-right: 5px;
}
.flagDropdown li .right{
   margin-left: auto;
   padding-left: 20px;
}

/* responsivity  */

.container{
   width: unset;
}

@media screen and (max-width: 900px){
   h1{
      font-size: 2.6rem;
      margin: 0.9rem 0 0.8rem 0;
   }
   h2{
      font-size: 2.1rem;
      margin: 0.8rem 0 0.7rem 0;
   }
   h3{
      font-size: 1.7rem;
      margin: 0.7rem  0 0.6rem 0;
   }
   h4{
      font-size: 1.5rem;
      margin: 0.6rem  0 0.5rem 0;
   }
   h5{
      font-size: 1.2rem;
      margin: 0.5rem  0 0.4rem 0;
   }
   h6{
      font-size: 1.1rem;
      margin: 0.4rem  0 0.3rem 0;
   }
   dict-list .dict-size{
      display: none;
   }
   #root div[is="dict-public"] .dictContainer{
      flex-direction: column;
   }
   #root div[is="dict-public"] .description{
      order: 2;
   }
   #root div[is="dict-public"] .sectionDivider{
      display: none;
   }
   #root div[is="dict-public"] .search{
      order: 1;
   }
}

@media screen and (max-width: 700px){
   h1{
      font-size: 2.3rem;
      margin: 0.9rem 0 0.8rem 0;
   }
   h2{
      font-size: 1.9rem;
      margin: 0.8rem 0 0.7rem 0;
   }
   h3{
      font-size: 1.5rem;
      margin: 0.7rem  0 0.6rem 0;
   }
   h4{
      font-size: 1.4rem;
      margin: 0.6rem  0 0.5rem 0;
   }
   h5{
      font-size: 1.2rem;
      margin: 0.5rem  0 0.4rem 0;
   }
   h6{
      font-size: 1.1rem;
      margin: 0.4rem  0 0.3rem 0;
   }
   #root .container{
      max-width: 96vw;
   }
   #root .collection-item {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
   }
   dict-list .checkbox{
      display: none;
   }
   .columnContainer{
      flex-wrap: wrap;
   }
}

@media screen and (max-width: 600px){
   .columnContainer > div{
      width: 100%;
   }
   #root h1,
   #root h2,
   #root h3,
   #root h4,
   #root h5,
   #root h6{
      margin-left: 0;
   }
}

@media screen and (max-width: 500px) {
   #root .container{
      padding-left: 0;
   }
   #root dict-list .topBar{
      flex-direction: column;
      align-items: normal;
   }
   #root dict-list .topBar .newDictionaryButton{
      margin-left: unset;
   }
   dict-list .collection-item{
      flex-direction: column;
   }
   dict-list .secondary-content{
      height: 25px;
      margin-top: 5px;
      display: flex;
   }
}

@media screen and (max-width: 400px) {
   #root .fontSize {
      display: none;
   }
   #root .brand-logo{
      right: 0;
      left: unset;
      padding-right: 20px;
      transform: none;
   }
}

@media screen and (max-width: 350px) {
   #root .site-logo {
      height: 35px;
      position: relative;
      top: 11px;
   }
}

/* browser update notification style */
body #buorgig,
body #buorgul,
body #buorgpermanent{
   border-radius: 0;
   border: 0;
   box-shadow: none;
   text-transform: uppercase;
   font-size: 0.9rem;
   height: 2.25rem;
   line-height: 2.25rem;
   white-space: nowrap;
   padding: 0 1rem;
   font-family: 'Roboto Condensed', sans-serif;
}
body #buorgul{
   background-color: #c62132;
}
body #buorgig{
   color: #000;
   background-color: #eee;
}
body #buorgpermanent{
   color: #fff;
   background-color: #000;
}
