* {
  page-break-inside: avoid;
  font-family: sans-serif;
}

/*example-section-item.riot*/
pre {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}
.element-holder {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  align-items: baseline;
  line-height: 1;
  margin: 3px;
}
.element-holder-has-bullet {
  flex-wrap: nowrap;
}
.element-holder-list {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  align-items: baseline;
  line-height: 1;
}
.element-holder-list-column {
  flex-direction: column;
}
.element-holder-content-block {
  display: flex;
  align-items: baseline;
  line-height: 1;
}
.element-holder-column {
  flex-direction: column;
}
.element-holder-hovered {
  outline: 2px solid var(--color-is-hovered);
}
.element-holder-hovered:has(.element-holder-hovered) {
  outline: none;
}
.element-holder-hovered:has(.element-holder-hovered-empty) {
  outline: none;
}
.element-holder-hovered:has( > .element-holder-list > .element-holder-hovered-empty-entry) {
  outline: none;
}
.element-holder-active {
  outline: 2px solid var(--color-is-active) !important;
}
.element-holder-content-hovered {
  outline: 2px solid var(--color-is-hovered);
}
.element-holder-content-active {
  outline: 2px solid var(--color-is-active) !important;
}

.example-item-label-vertical {
  width: fit-content;
  text-wrap: nowrap;
}
.example-item-label-before {
  margin-right: 5px !important;
  width: fit-content;
  text-wrap: nowrap;
}
.example-item-label-after {
  margin-left: 5px !important;
  width: fit-content;
  text-wrap: nowrap;
}

/*example-audio-item.riot*/
.example-audio-item-wrapper {
  display: flex;
  flex-direction: column;
}
.example-audio-item-url {
  display: flex;
  align-items: center;
}

/*example-basic-item.riot*/
.example-basic-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/*example-bool-item.riot*/
.example-bool-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/*example-image-item*/
.example-image-item-wrapper {
  display: flex;
  flex-direction: column;
}
.example-image-item-icons {
  display: flex;
  align-items: center;
}

/*example-markup-item*/
.example-item-markup-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/*example-url-item*/
.example-url-item-wrapper {
  display: flex;
  flex-direction: column;
}
.example-url-item-url {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/*example-video-item*/
.example-video-item-wrapper {
  display: flex;
  flex-direction: column;
}
.example-video-item-url {
  display: flex;
  align-items: center;
}